 /*######################
  ######################
  ##      Vectors     ##
  ##        LLG       ##
  ######################
  ######################*/



/* 
#######################
#                     #
#       Screen        #
#          1          #
#                     #
#######################
*/

 #thermo {
    position: absolute;
    height: 18rem;
    top: 6.5rem;
    left: 14.5rem;
    z-index: 1;
    opacity: 0;
}


#watch {
    position: absolute;
    height: 18rem;
    left: 43.4rem;
    top: 6.5rem;
    opacity: 0;
}

#area-pic {
    position: absolute;
    height: 30rem;
    left: 7.5rem;
    top: 6rem;
    opacity: 0;
}

#scalar-stmnt {
    position: absolute;
    left: 2.5%;
    width: 95%;
    top: 1rem;
    text-align: center;
    border: 1px black solid;
    padding: 0.25rem 1rem;
    opacity: 0
}

#area-stmnt {
    position: absolute;
    left: 2.5%;
    width: 95%;
    top: 1rem;
    text-align: center;
    border: 1px black solid;
    padding: 0.25rem 1rem;
    opacity: 0
}

#area-stmnt p{
    margin: 0;
}

#vec-pic{
    position: absolute;
    width: 30.5rem;
    top: 5.9rem;
    z-index: 2;
    opacity: 0;
    left: 16.1rem;
}

#vec-stmnt{
    position: absolute;
    left: 2.5%;
    width: 95%;
    top: 1rem;
    text-align: center;
    border: 1px black solid;
    padding: 0.25rem 0.25rem;
    opacity: 0
}

#vec-stmnt p{
    margin: 0;
}
/* 
#######################
#                     #
#       Screen        #
#          2          #
#                     #
#######################
*/

#vector-main {
    position: absolute;
    width: 30rem;
    left: 18.5rem;
    top: 6rem;
    opacity: 0;
}

#vectorStmnt{
    position: absolute;
    left: 2.5%;
    width: 95%;
    top: 1rem;
    text-align: center;
    border: 1px black solid;
    padding: 0.25rem 0.25rem;
    opacity: 0;
}

#compStmnt{
    position: absolute;
    left: 2.5%;
    width: 95%;
    top: 1rem;
    text-align: center;
    border: 1px black solid;
    padding: 0.25rem 0.25rem;
    opacity: 0;
    background-color: whitesmoke;
    z-index: 5;
}

#compStmnt p {
    margin: 0;
}

#vectorStmnt p {
    margin: 0;
}

#lightx{
    opacity: 1
}


#lightx{
    position: absolute;
    opacity: 0;
    right: -29rem;
    height: 11rem;
    top: 9.7rem;
}
#lighty{
    position: absolute;
    opacity: 0;
    top: -26.4rem;
    width: 11rem;
    left: 16.6rem;
}


#xcomp{
    position: absolute;
    opacity: 0;
    width: 25rem;
    left: 5rem;
    top: 7rem;
    z-index: 2;
}

#ycomp{
    position: absolute;
    opacity: 0;
    width: 25rem;
    right: 5rem;
    top: 7rem;
    z-index: 2;
}

#tri{
    position: absolute;
    right: 5rem;
    top: 7rem;
    width: 20rem;
    opacity: 0;
}

#eqn1{
    position: absolute;
    left: 7rem;
    top: 7rem;
    width: 12rem;
    opacity: 0;
    z-index: 3;
}

#eqn2{
    position: absolute;
    left: 9.3rem;
    top: 14rem;
    width: 16.5rem;
    opacity: 0;
}

#eqn3{
    position: absolute;
    left: 10.1rem;
    top: 19.5rem;
    width: 13.5rem;
    opacity: 0;
    z-index: 3;
}

#eqn4{
    position: absolute;
    left: 7rem;
    top: 7.4rem;
    width: 12rem;
    opacity: 0;
    z-index: 3;
}

#eqn5{
    position: absolute;
    left: 9.3rem;
    top: 14rem;
    width: 16.5rem;
    opacity: 0;
}

#eqn6{
    position: absolute;
    left: 10.1rem;
    top: 19.5rem;
    width: 13.5rem;
    opacity: 0;
    z-index: 3;
}
#x-compStmnt{
    position: absolute;
    left: 2.5%;
    width: 95%;
    top: 1rem;
    text-align: center;
    border: 1px black solid;
    padding: 0.25rem 0.25rem;
    opacity: 0;
    background-color: whitesmoke;
    z-index: 5;
}

#x-compStmnt p {
    margin: 0;
}

#y-compStmnt{
    position: absolute;
    left: 2.5%;
    width: 95%;
    top: 1rem;
    text-align: center;
    border: 1px black solid;
    padding: 0.25rem 0.25rem;
    opacity: 0;
    background-color: whitesmoke;
    z-index: 5;
}

#y-compStmnt p {
    margin: none;
}

#fx-butt{
    padding: 0.72rem 0;
}

#fy-butt {
    padding: 0.6rem 0;
}

/*################### 
#                   #
#      Screen 3     #
#                   #
####################*/

#cs3.content-stage .ctr > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: #e9ecef;
}

#triangle3,#triangle4 {
    width: 10rem;
    margin-bottom: 2rem;
}

#eqn7,#eqn8,#eqn9,#eqn10 {
    margin: 0.5rem;
}

#cs0.content-stage .ctr {
    padding: 5rem;
    text-align: center;
}



#cs0.content-stage .ftr {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Question/Feedback */

#feedback.content-stage .ctr-quiz {
    position: relative;
}

#vec-image {
    width: 25rem;
    position: absolute;
    left: 17.5rem;
    top: 15rem;
    z-index: 1;
}

#tri-image {
    width: 25rem;
    position: absolute;
    left: 17.5rem;
    top: 15rem;
    opacity: 0;
    z-index: 2;
}

#form-box {
    position: absolute;
    left: 52.5rem;
    top: 18rem;
}

#audio3 {
    display: none;
}

#nxt-btn {
    display: none;
}

#cue51,#cue52,#cue53,#cue54,#cue55,#cue56,#cue61,#cue62,#cue63{
    position: absolute;
}

#cue51{
    left: 24.9rem;
    top: 21.9rem;
    height: 3.2rem;
    opacity: 0
}

#cue52{
    left: 29.8rem;
    top: 16.25rem;
    height: 3rem;
    opacity: 0
}

#cue53{
    left: 52.3rem;
    top: 19.5rem;
    width: 15rem;
    transform: scaleY(0.18);
    opacity: 0
}

#cue54{
    opacity: 0;
    left:28.8rem;
    top: 22.5rem;
    height: 2.5rem;
    transform: scaleX(0.5)
}

#cue55{
    opacity: 0;
    left:56.8rem;
    top: 20rem;
    width: 3rem;
}

#cue56 {
    opacity: 0;
    left: 57.1rem;
    top: 24.5rem;
    height:2.5rem;
}

#cue61{
    left: 32.8rem;
     top:22.5rem;
     height: 3.7rem;
     transform: scaleX(0.85);
     opacity: 0
}

#cue62{
    opacity: 0;
    left: 61.8rem;   
    width: 2.7rem;
    top: 24.5rem;
}

#cue63 {
    opacity: 0;
    left: 61.7rem;
    top: 20rem;
    width: 3rem;
}

#eqn51 {
    position: absolute;
    left: 55rem;
    top: 14.5rem;
    width: 10rem;
    opacity: 0
}

#eqn52 {
    position: absolute;
    left: 57rem;
    top: 20.5rem;
    width: 13.5rem;
    opacity: 0
}

#eqn53 {
    position: absolute;
    opacity: 1;
    left: 57.5rem;
    top: 24.5rem;
    width: 11.5rem;
    opacity: 0
}

#eqn54 {
    position: absolute;
    opacity: 1;
    left: 57.5rem;
    top: 29.5rem;
    width: 12.9rem;
    opacity: 0;
}

#eqn55 {
    position: absolute;
    left: 55rem;
    top: 14.5rem;
    width: 10rem;
    opacity: 0
}

#eqn56 {
    position: absolute;
    left: 57rem;
    top: 20.5rem;
    width: 13.5rem;
    opacity: 0
}

#eqn57 {
    position: absolute;
    opacity: 0;
    left: 57.5rem;
    top: 24.5rem;
    width: 11.5rem;
}

#eqn58 {
    position: absolute;
    opacity: 1;
    left: 57.5rem;
    top: 29.5rem;
    width: 12.9rem;
    opacity: 0
}

#eqn59 {
    position: absolute;
    opacity: 1;
    left: 57rem;
    top: 20rem;
    width: 12rem;
    opacity: 0

}

#eqn60 {
    position: absolute;
    opacity: 1;
    left: 57.5rem;
    top: 24.5rem;
    width: 12rem;
    opacity: 0
}

#triangle35 {
    position: absolute;
    left: 38rem;
    top: 2.85rem;
    width: 22rem;
    opacity: 0
}
