<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .color {
            width: 50vw;
            margin: auto;
            padding: 50px;
            text-align: center;
        }

        .color1{
            background-color: #ed3d63;
        }

        .color2{
            background-color: #223ccf;
        }

        .color3{
            background-color: #161b7f;
        }

        .color4{
            background-color: #8d3fd0;
        }

        .color5{
            background-color: #0683d7;
        }

        
    </style>
</head>
<body>
    <div class="color color1"><h3>#ed3d63</h3></div>
    <div class="color color2"><h3>#223ccf</h3></div>
    <div class="color color3"><h3>#161b7f</h3></div>
    <div class="color color4"><h3>#8d3fd0</h3></div>
    <div class="color color5"><h3>#0683d7</h3></div>
</body>
</html>